.bodyWrapper {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    width: 96%;
    color: white;
    grid-gap: 2px;
    background-color: #202c30;
    color: #444;
    margin-left: 50px;
}

.bodyWrapperGridBox {
    text-align: center;
    background-color: green;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    line-height: 550%;
}
